

<h1>Name: <%= @contact.name %> </h1>
<p>Age: <%= @contact.age %></p>
<p>Gender: <%= @contact.gender %></p>
<p>Hair Color: <%= @contact.hair_color %></p>
<p>Eye Color: <%= @contact.eye_color %></p>
<p>Alive: <%= @contact.alive %></p>
<%= link_to 'Back', contacts_path %>
